default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\DemoContext
                - App\Tests\Behat\ResetDatabaseContext
                - Behat\MinkExtension\Context\MinkContext
                - behatch:context:browser:
                    timeout: 1
                - behatch:context:debug:
                    screenshotDir: "var"
                - behatch:context:system
                - behatch:context:json
                - behatch:context:table
                - behatch:context:rest

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
                debug: true
            Behat\MinkExtension:
                base_url: "https://nginx/"
                sessions:
                    symfony:
                        symfony: ~
            Behatch\Extension: ~
